{%- liquid
  if cart == empty
    render 'icon-cart-empty'
  else
    render 'icon-cart'
  endif

  assign visible_item_count = 0
  for item in cart.items
    unless item.product.tags contains 'hide_from_cart'
      assign visible_item_count = visible_item_count | plus: item.quantity
    endunless
  endfor
-%}
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if visible_item_count > 0 -%}
  <div class="cart-count-bubble">
    {%- if visible_item_count < 100 -%}
      <span aria-hidden="true">{{ visible_item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: visible_item_count }}</span>
  </div>
{%- endif -%}
